/*----- BODY CONTAINER -----*/
body{
    font-family: 'Selvetica', sans-serif;
}

.container{
    padding-top: 50px;
}

.container-table{
    background: white;
    padding: 20px;
}

/*----- BODY CONTAINER -----*/