/*----- NAV MENU -----*/
#nav-menu{
    background: #3cb371;
    /*background: white;*/
    border-bottom: 1px solid green;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

#barra-menu{
    background: white;
}

#nome-logo{
    color: white;
}

.logo-menu{
    width: 40px;
    height: 55px;
    margin-right: 8px;
}

#menu-opcoes{
    margin: 0% auto;
}

#menu-opcoes #items-li #items-a{
    margin-left: 45px;
    color: white;
}

#menu-opcoes #items-li #items-a:hover{
    background: green;
    border-radius: 14px;
}

#menu-opcoes #items-li:last-child a i{
     padding-left: 8px;
}

#menu-logado{
    margin: 0 auto;
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 6px;
    border-radius: 5px;
}

#menu-logado .nav-item{
    color: white;
    padding-left: 5px;
}

#menu-logado .nav-item span i{
    padding-left: 10px;
    font-size: 20px;
}

.container{
    padding-top: 50px;
}

.container-table{
    background: white;
    padding: 20px;
}

#nav-menu .collapse:nth-child(2){
    width: 61%;
}

#nav-menu .collapse:nth-child(3){
    width: 5%;
    padding: 0;
}

/* --- SUB MENU --- */
.sub-menu{
    list-style: none;
    position: absolute;
    top: 60px;
    padding-left: 0; /*--- MOVIMENTAR SUB MENU AQUI ---*/
    z-index: 100;
    background:#3cb371; 
    width: 130px;
    border-bottom: 4px solid yellow;
    visibility: hidden;
    transition: all .1s ease;
    border-top: 1px solid white;
}


#items-li:nth-child(2) > .sub-menu{
    margin-left: 15px;
}

#items-li:nth-child(3) > .sub-menu{
    margin-left: 30px;
}

.sub-menu .sub-menu-li{
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
}

.sub-menu .sub-menu-li a{
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.sub-menu .sub-menu-li:hover{
    background: green;
    transition: all .3s ease;
}

#menu-opcoes #items-li:hover .sub-menu{
     visibility: visible;
     display: block;
     transform: translateY(5px);
     transition: all .3s ease;
}


.sub-menu-2{
    list-style: none;
    position: absolute;
    top: 35px;
    padding-left: 0; /*--- MOVIMENTAR SUB MENU AQUI ---*/
    z-index: 100;
    background:#3cb371; 
    width: 160px;
    border-bottom: 4px solid white;
    visibility: hidden;
    transition: all .1s ease;
    border-bottom: 4px solid yellow;
    border-top: 1px solid white;
    transform: translateX(127px);
    border-radius: 7px;
}


.sub-menu-li-2{
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
    padding-top: 9px;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
}

.sub-menu-li-2:hover{
   background: green;
   transition: all .3s ease;
}

.sub-menu-li-2 a{
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.sub-menu-li-2 a i{
  float: left;
  margin-top: 7px;
  margin-left: 6px;
  font-size: 10px;
  transition: all .2s ease;
}

#cadAnamnese:hover .sub-menu-2{
 visibility: visible;
 display: block;
 transform: translateX(134px);
 transition: all .3s ease;
}

/* --- FIM SUB MENU --- */

/*----- NAV MENU -----*/
/* -------------- RESPONSIVIDADE  -------------*/
@media (max-width: 990px){
    .logo-menu{
        display: none;
    }
    
    #nome-logo{
        display: none;
    }
    
    #menu-opcoes #items-li #items-a{
        text-align: center;
    }
}
/* -------------- RESPONSIVIDADE  -------------*/